
body {
  font-family: Circular, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "MS Gothic", "ＭＳ ゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iconify {
  color: #FF5A5F;
}



.navbar {
  background-color: white;
  height: 64px;
}

.nav-link {
  color: #484848 !important;
  font-size: 14px !important;
  font-weight: bold;
  /* line-height: 14px; */
  margin-top: 32px;
}

.nav-item {
  height: 94px;
}
.nav-item:hover {
  border-bottom: 2px solid grey;
  }

#logo {
  height: 34px;
  width: 34px;
  margin-top: 10px;
}

.search-query {
  width: 460px !important;
  height: 48px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
      transition: all 200ms ease !important;
      /* transition: box-shadow 200ms ease-in 0s !important; */
      border-width: 1px !important;
      border-style: solid !important;
      border-color: rgb(235, 235, 235) !important;
      /* border-image: initial !important; */
      border-radius: 4px !important;

}

.search-query:focus {
  width: 580px !important;
}

.fa-search {
  position: absolute;
  top:12px;
  left: 10px;
  color: #484848;
  font-size: 19px;
  z-index: 10;
  bottom: 10px;
}

::placeholder {
  color: #767676;
  font-size: 17px;
  font-weight: bold;
}

.navbar-search {
    position: relative;
}

.navbar-search .search-query {
  position: absolute;
  bottom:-45px;
  padding-left: 40px;
}

.navbar-search {
    position: absolute;
    top: 17px;
    left: 15px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 40px;
}​

p {
  font-size: 14px;
  color: #484848;
  display: inline-block;

}

.notice p {
  line-height: 49px;
  color: #484848;
  font-size: 14px;
}

.notice {
/* height: 49px; */
height: 8%;
text-align: center;
position: fixed;
z-index:999;

}

.fa-comment-dots {
  color: #4CB0BB;
  display: table-cell; vertical-align: middle;
  margin: 10px;
}

#msg {
  position: absolute;
  z-index: 20;
  font-size: 18px;
  left: 10%;
  font-weight: normal;
  line-height: 26px;
  top:48%;
}

.gift-btn {
  position: absolute;
  left: 10%;
  width: 191px !important;
  height: 48px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #484848 !important;
  top: 58%;

}

.close-modal {
  position: fixed;
  top: 97px;
  right: 2%;
  cursor: pointer;
  color:#004C54
}

.close-modal:hover {
  color: #1B6169;
}

.main {
  background-image: url("img/BackgroundHomeSummer.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* height: 600px; */
  padding-top: 54.993067591%;
  width: 100%;
  height: 0px;
  color: white;
  position: absolute;
}

.main h1 {
  position: absolute;
  top: 35% ;
  left: 10%;
  font-size: 46px;
  font-weight: bold;
}

input[type="text"]:focus {
  outline: 0;
}

#sub {
  /* display: inline-block; */
  height: 169px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 18px !important;
}

.main1 h1 {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 35px;
  color: #484848;
  font-weight: bold;
}

.fa-envelope,.fa-stopwatch, .fa-globe {
  color: #007a87;
  font-size: 50px;
  line-height: 50px;
}

.sp_br {
  display: none;
}
.msg1 {
  font-size: 18px !important;
  line-height: 20px !important;
  color: #484848 !important;
  font-weight: bold;
  margin: 25px;
}

.main2 {
  margin: 0 100px 40px 100px !important;
}


.msg2 {
    font-size: 16px !important;
    color: #767676 !important;
}

.main3 {
  height: 418px;
  background-color: #007A87;
  text-align: center;
  color: white;
}

.sub1 {
  margin-top: 40px;
}

.sub1 h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

.sub1 p {
  font-size: 20px;
  margin-bottom: 50px;
}

.sub1 a {
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  color: #99C5BC;
}

.sub1 a:hover {
  text-decoration: none;
  color:white;
}


.btn-danger {
  background-color: #FF5A5F !important;
}
.btn-danger:hover {
  background-color: #FF7E82 !important;
}

ul {
  list-style: none;
}

.wrapper-footer {
  margin: 40px 40px 40px 40px !important;

}


.footer {
  font-size: 14px;
  color: #767676 !important;
  font-weight: bold;
}

.footer div ul li:hover {
  text-decoration: underline;
}


.footer div ul li a {
  cursor: pointer;
  color: #767676;
}

.footer div p {
  color: black;
  margin-left: 40px;
}

.footer div i {
  font-size: 17px;
  margin-right: 12px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.new:after {
content: "新着";
border: none;
background-color: #006A70;
color: white;
font-size: 12px;
line-height: 16px;
padding: 0 5px 2px 5px;
margin-left: 4px;
border-radius: 5px;
}

#border {
  margin: 0 90px;
}

footer {
margin: 0 90px;
font-size: 14px;
color: #767676;
font-weight: bold;
}

footer a {
  color: #767676;

}

footer a:hover {
  color: #767676;
  text-decoration: underline;
}

#logo-footer {
  color: grey;
  font-size: 22px;
  display: inline-block;
  float: left;
  margin: 20px 5px 20px 0;
}

.msg3 {
  float: left;
}

.button {
  display: inline-block;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    /* border-image: initial !important; */
    border-radius: 4px !important;
  background-color: white;
  width: 68px;
  height: 36px;
  font-weight: bold;
  color: #767676;
  float: right;
  margin-left: 10px;
}

footer {
  margin-top: 15px;
  margin-bottom: 30px;
}

.button:focus {
	outline:0;
}

.button:hover {
	background-color: rgb(235, 235, 235);
}

.fab:hover {
  cursor: pointer;
}

.fa-angle-down {
  display: none !important;
}

.menu a {
  color:  #4F4F4F;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  color:  #4F4F4F;
}

.menu span {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.menu p {
  font-size: 14px;
  line-height: 18px;
}

.menu li {
  margin: 27px 0;
  cursor: pointer;
}

.panel-body {
z-index: 30;
width: 100%;
}

.submenu {
display: none;
}

.menu {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    background: white;
    color: #fff;
    overflow: hidden;
}

.fa-home {
    display: inline-block;
    float: right;
    color: #007a87;
    font-size: 25px;
    line-height: 50px;
}

#cancel {
  display: none;
}

@media (min-width: 600px) and (max-width: 1033px) {
    .notice{
        height: 69px;
    }

    .notice p{
        line-height:0px;
    }

    .close-modal {
      right: 0%;
    }

    .fa-angle-down {
      display: inline-block !important;
      margin-top: 15px;
      color: black;
    }

    .nav-link {
      display: none !important;
    }

    .rotate{
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }

    .rotate.down{
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }

    .footer {
      display: none;
    }

    .japan{
      position: absolute;
      bottom: -985px;
      right:90px;

    }

  .yen{
    position: absolute;
bottom: -985px;
    right:10px;
  }

    .msg3 {
      position: absolute;
    left: 50px;
    }

    #logo-footer {
      position: absolute;
      left: 20px;
    }

    #border {
    display: none;
  }

.wrapper-footer {
    margin: 0px 0px 0px 0px !important;
}
.main h1 {
  top: 35% ;
  left: 3%;
  font-size: 36px;
}

#msg {
  left: 3%;
  top:55%;
}

.gift-btn {
  left: 3%;
  top: 73%;

}
.btn-danger {
width:600px !important;
text-align: center !important;
}

#cancel {
  display: none;
  position: absolute;
  right: 10px;
  top:25px;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
}

#cancel:hover {
  /*display: none;*/
  text-decoration: none;
}

/* .search-query {
  width: 500px !important;
  height: 48px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important; */
      /* transition: all 200ms ease !important; */
      /* transition: box-shadow 200ms ease-in 0s !important; */
      /* -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
      border-width: 1px !important;
      border-style: solid !important;
      border-color: rgb(235, 235, 235) !important; */
      /* border-image: initial !important; */
      /* border-radius: 4px !important; */

  /* } */

/* .search-query:focus {
    -webkit-transform: translate(-80px, 0px) !important;
    -moz-transform: translate(-80px, 0px) !important;
    -o-transform: translate(-80px, 0px) !important;
    transform: translate(-80px, 0px) !important;
    width: 460px !important; */

}


@media (min-width: 500px) and (max-width: 1033px) {
    .notice{
        height: 69px;
    }

    .notice p{
        line-height:0px;
    }

    .close-modal {
      right: 0%;
    }

  .fa-angle-down {
    display: inline-block !important;
    margin-top: 15px;
    color: black;
  }

  .nav-link {
    display: none !important;
  }

        #border {
        display: none;
      }

  .fa-angle-down {
    display: inline-block !important;
    margin-top: 15px;
    color: black;
  }

  .nav-link {
    display: none !important;
  }

.footer {
  display: none;
}

.japan{
  position: absolute;
  bottom: -85px;
  right:90px;

}
}

.yen{
position: absolute;
bottom: -85px;
right:10px;
}

.search-query:focus {
  width: 470px !important;
}


.search-query {
  width: 470px !important;
}

@media screen and (min-width: 400px) and (max-width: 499px) {

#logo {
  position: relative;
  right: 130px;
}

.notice{
        height: 89px;
    }

      .notice p{
          line-height:20px;
      }

    .close-modal {
      right: 0%;
    }

.navbar-search {


}
  .fa-angle-down {
    display: inline-block !important;
    margin-top: 15px;
    color: black;
    position: relative;
    right: 220px;
  }

  .nav-link {
    display: none !important;
  }

        #border {
        display: none;
      }

  .nav-link {
    display: none !important;
  }

.footer {
  display: none;
}

.japan{
  position: relative;
  bottom: 0px;
  left:100px;

}

.yen{
position: relative;
bottom: -35px;
left:22px;
}

.search-query:focus {
  width: 350px !important;
}

.search-query {
  width: 350px !important;
}

.container {
position: relative;
right: 320px;
top: -35px;
}

.main h1 {
  position: absolute;
  top: 35% ;
  left: 10%;
  font-size: 36px;
  font-weight: bold;
}

#msg {
  top:58%;
}

.gift-btn {
  left: 10%;
  top: 78%;
}

.fa-comment-dots {
  margin: 8px;
}

.main1 h1 {
  margin-top: 50px;
  margin-bottom: 0px;
}

.sub1 p {
  margin-bottom: 25px;
}

.btn-danger {
width:420px !important;
text-align: center !important;
}

  .msg3 {
    display: inline-block;
    position: absolute;
    left: 50px;
  }

#logo-footer {
  position: absolute;
  left: 20px;
}

.sp_br {
  display: inline;
}

.main3 {
  height: 318px;
}

.wrapper-footer {
    margin: 0px 0px 0px 0px !important;
}

}
