.main_image {
  position: relative;
  width: 1600px;
  }

.main_image img {
  width: 1600px;
  }

.form {
  position: absolute;
  top: 100px;
  right: 89px;
  width: 463px;
  height: 456px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
} 

.form h1 {
  font-size: 40px;
  color: #333333;
  font-weight: bold;
}
