.msg-3step-image {
  height: 515px !important;
  width: 515px !important;
}

a {
  color:#008489 !important; 
}

.nav-link {
  color: #484848 !important;
  font-size: 14px !important;
  font-weight: bold;
}

a[href="gaiyou"] {
  color:#008489 !important;  
}

.gaiyou {
  border-bottom: solid 2px #008489;
  padding-bottom: 30px;;
}

.nav-item {
  height: 70px;
}

.nav-link {
  padding-top: 25px !important;
  padding-right: 20px !important;
}

.nav-link p {
  margin-bottom: 0px;
}

.navbar {
  border-bottom: #EBEBEB solid 1px;
}

.brand {
  margin-left: 10px !important;
  font-size: 36px !important;
}

.main_msg {
  display: none !important;
}

.form-inline {
  padding: 10px 60px 0 0;
}

.income {
  padding-right: 10px;
}

.btn-begin-1 {
  font-size: 14px !important;
}

.brand {
  color: #178F93;
  font-size: 32px;
  margin-left: 90px; 
}

.form-inline p {
  font-size: 14px;
}

.form-inline .income {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
}

.jumbotron { background:url(img/main2.jpg) center no-repeat; 
  background-size: cover; 
  max-width: 1600px; 
  height: 900px;
  padding: 0 !important;
  margin: 0 auto !important;
  position: relative;
} 

/* .main_image {
  position: relative;
  max-width: 1600px;
  padding-top: 80px;
}

.main_image img {
  max-width: 1600px;
  height: 700px;
} */

.chevron-down {
  display: none;
}

.form {
  position: absolute;
  top: 75px;
  right: 89px;
  width: 463px;
  height: 456px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 80px;
} 

.form h1 {
  font-size: 40px;
  color: #333333;
  font-weight: bold;
}

.form-income {
  margin-bottom: 8px !important;
}

.form-group label {
  margin-top: 15px;
  font-weight: bold;
} 

.form-control {
  height: 45px !important;
  border: solid 1px #EBEBEB !important;
}

.yen {
  font-size: 40px;
  font-weight: bold;
  display: inline;
}

.yen + p {
  display: inline;
  font-size: 14px;
}

.fa-question-circle {
  font-size: 14px;
}

.btn-begin-2 {
  width: 400px !important;
  height: 50px;
  font-weight: bold !important;
  background-color: #FF5A5F !important;
  border-color: #FF5A5F  !important;
}

/* remove the original arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i.fas {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
}

.msg-wrapper .row {
  margin: 70px 0px 0px 0px !important;
  max-width: 1000px !important;
}

.msg-wrapper {
  padding-bottom: 0px;
  padding-left: 95px !important;
  padding-right: 95px !important;
  max-width: 1000px !important;
 
}

.msg {
  color: #484848;
  padding: 0 35px !important;

}

.msg h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  white-space: nowrap;
}

.msg p {
  text-align: justify;
}

/* msg-3step-wrapper begin  */

.message {
  padding-top: 100px;
}

.msg-3step-wrapper {
  color: #484848;   
}

.msg-3step-wrapper .row {
  /* padding-bottom: 80px !important; */
  padding-left: 120px;
  padding-right: 120px;  
  /* padding-top: 100px; */
}

.fa-inverse {
  font-size: 16px;
}

.msg-3step-wrapper h1, .msg-safe h1, .main-questions h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 50px;
  color: #484848;
}

.msg-3step-wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

  /* .msg-3step-wrapper .col-4 {
    padding: 0 40px;
  } */

  .three-step-wrapper {
    display: flex;
    height: 300px;
  }
  
  hr {
    width: 8%;
    border: none;
    height: 1px !important;
    margin-top:1px;
    /* Set the hr color */
    color: #787878; /* old IE */
    background-color: #787878; /* Modern Browsers */
}


.msg-3step-wrapper-msg {
  /* font-size: 24px; */
  /* font-weight: bold; */
  margin-bottom: 20px;
  padding: 0 50px;
}

.msg-3step-wrapper-1 p {

  padding: 0 50px 0 0;
}

.msg-3step-wrapper-msg {
  font-size: 32px !important;
  padding-left: 0px !important;
}

.msg-3step-wrapper-1 {
  padding-top: 40px;
  }

  .msg-3step-wrapper-1 .btn {
    height:45px;
    border: solid #333333 2px;
    font-weight: bold;
    margin-top: 10px;
    padding: 0 20px;
    /* margin-left: 50px; */
    }

    .msg-3step-wrapper-1 img {

      /* margin-left: 50px; */
      margin-bottom: 10px;
      }

.msg-safes2 {
  display: none !important;
}

/* msg-3step-wrapper end  */

.msg-safe {
  padding-top: 130px !important;
  padding-left: 120px !important ;
  padding-right: 120px !important;
}

.message1 {
  padding-bottom: 50px !important;
  padding-top: 100px !important;
}

.msg-safe .col-6  {
  padding: 0 30px 0 40px;
}

.msg-safe-1 {
  padding-top: 30px !important;
}

.msg-safe p {
  line-height: 28px;
}

.msg-safe ul {
  list-style: none;
}

.msg-safe ul li {
  line-height: 50px;
}

.msg-safe ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  padding-right: 10px;
  color: #178F93;
}

.msg-safe-2 ul li {
  width: 130% !important;
}

.msg-safe a img {
  height: 581px;
  width: 100%;
}

/* main-questions */
.main-questions-wrap {
  padding-bottom: 100px;
}

.main-questions h2 {
  color: #484848;
}

.main-questions ul li {
  list-style: none;
  font-size: 18px;
  padding: 20px 0px;
  border-bottom: solid 1px #EBEBEB; 
}

.main-questions-2 h2, .main-questions-2-small h2 {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
}

.main-questions-2 img {
  width: 370px;
  height: 190px;
}

.main-questions-2  {
  padding-left:50px !important;
  padding-right: 50px !important;
  padding-bottom: 100px;
}

.main-questions .col-4::nth-of-type(2) {
  font: 32px;
}

.detail p {
  font-size: 14px;
}

 .detail-1  {
   margin: 12px 0 0 0;
}

.detail-1 a, .detail-2 a {
  color: #484848 !important;
}

.detail-2 a {
  font-size: 14px;
}

.detail-2  {
  margin-bottom: 3px;
}
.detail-1 a {
  font-weight: bold;
  font-size: 16px;
}

.detail .detail-1 {
  padding-bottom: 0px !important;
}

.detail {
  padding-right: 0px !important;
}

.income-img {
  position: relative;
  padding-bottom: 100px;
  max-width: 1300px !important;
  margin: 0 auto !important;
  
}

.incom-img img {
  width: 2000px !important;  
}

.income-increase {
  position: absolute;
  top: 70px; 
  left: 100px;
  color: white;
  width: 50%;
}

.income-increase h1 {
  padding-right: 180px !important;
  padding-bottom: 30px !important;
  text-align: left;
  font-weight: bold;
  font-size:64px;
}

.btn-income {
  width: 108px !important;
  height: 43px;
  color: #484848 !important;
}

.footer {
  font-size: 14px;
  color: #767676 !important;
  font-weight: bold;
}

.footer div ul li:hover {
  text-decoration: underline;
}

.footer div ul li {
  list-style: none;
}

.footer div ul li a {
  cursor: pointer;
  color: #767676 !important;
}

.footer div p {
  color: black;
  margin-left: 40px;
}

.footer div i {
  font-size: 17px;
  margin-right: 12px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.new:after {
  content: "新着";
  border: none;
  background-color: #006A70;
  color: white;
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px 2px 5px;
  margin-left: 4px;
  border-radius: 5px;
  }

  .border-1 {
    width: 1030px;
    border: none;
    height: 1px !important;
    margin-top:1px;
    /* Set the hr color */
    color: #EBEBEB; /* old IE */
    background-color: #EBEBEB; /* Modern Browsers */
}

.yenjpn {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 1%;
  padding-right: 5%;
}

#border {
  margin: 0 90px;
}

footer {
  margin: 0 90px;
  font-size: 14px;
  color: #767676;
  font-weight: bold;
  display: inline-block;
  height: 70px;

  border-top: #EBEBEB 1px solid;
  width: 1030px;
  margin: 0 auto;
  }
  
  footer a {
    color: #767676 !important;
  
  }
  
  footer a:hover {
    color: #767676;
    text-decoration: underline;
  }
  
  #logo-footer {
    color: grey;
    font-size: 22px;
    display: inline-block;
    float: left;
    margin: 20px 5px 20px 0px;
  }
  
  .msg3 {
    float: left;
  }
  
  .button {
    display: inline-block;
      border-width: 1px !important;
      border-style: solid !important;
      border-color: rgb(235, 235, 235) !important;
      /* border-image: initial !important; */
      border-radius: 4px !important;
    background-color: white;
    width: 68px;
    height: 36px;
    font-weight: bold;
    color: #767676;
    float: right;
    margin-left: 10px;
  }
  
  footer {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .button:focus {
    outline:0;
  }
  
  .button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .fab:hover {
    cursor: pointer;
  }
  
  .fa-angle-down {
    display: none !important;
  }
  
.japan, .yen-1 {
  border: none !important;
  color:#484848;
  width: 78px;
}

.japan:hover, .yen-1:hover {
  background-color: white !important;
}
  
.footer-wrapper {
  width: 50%;
  height: 120px;
}

.fa-chevron-down {
  padding-left: 5px;
}

.brand-white {
  display: none;
}

.main-questions-2-small {
  display: none;
}

.main-questions-wrap-single {
  display: none !important;
}

.msg-safe-3 .msg-safe-4 {
  display: none;
}

/* .footers {
  border-bottom: #484848 1px solid !important;
} */

@media screen and (max-width: 1126px) { 
  nav {
  display: none !important;
}

.main_image {
  padding-top: 0px;
}

.main_msg {
  display: inline !important; 
}

.main2 {
  position: relative !important;
  text-align: center !important;
  color: white !important;
  width: 100%;
  margin:0;
}

.main_msg {
  position: absolute !important;
  display: inline-block;
  color: white;
  position  : absolute;
	top    : 250px;
	left      : 50%;
  transform : translate(-50%, -50%);
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.form {
  position: static;
  width: 75%;
  text-align: left;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 300px;
  background-color: white;
  padding: 0px;
  border-radius: 0px;
  margin-top: 0px;
  margin:auto;
} 

.form h1 {
  display: none;
} 

.form-wrapper {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 300px;
  height: 500px;
}

.colorfilter-base {
  background-color: black; /* カラーフィルタ効果の色を指定 */
  display: inline-block;  /* (任意：インラインブロック化したい場合) */
}

.msg-safe-2 {
  padding-left: 0px !important;
}

.msg-safe-2 > ul {
  padding-top: 18px !important;
}

.colorfilter-image {
  opacity: 0.8;    /* カラーフィルタ効果の度合いを指定(※) */
    display: block;
}

.btn-begin-2 {
  width: 100% !important;
}

.msg-wrapper {
    position: absolute;
    flex-direction: column;
    bottom: -230px;
    background-color: white;
    /* padding-left: 60px !important;
    padding-right: 60px !important; */
    top:0px;
    /* margin: 0 auto !important; */
}
  
.msg  {
  text-align: left;  
}

.msg-wrapper {
  position: relative;
  background: white;
}

.msg-3step-wrapper h1,.message1 h1,.main-questions h1 {
  font-size: 40px;
}

hr {
  width: 6%;
}

.three-step-wrapper {
  display: initial !important; 
}

.three-step {
  margin: 40px auto;
  max-width: 59.333333% !important;
}

.msg-safe {
  padding-top: 80px !important;
}

.brand-white {
  color: white !important;
  position: absolute !important;
  top:40px;
  left:30px;
  display: inline-block;
  font-size: 32px;
  text-align: center;
}

.chevron-down {
  color: white !important;
  position: absolute !important;
  top:50px;
  left:65px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  font-weight: normal !important;
}

.message {
  padding-top: 60px;
  white-space: nowrap;
}

.message h1 {
  margin-bottom: 0px;
}

.msg-3step-wrapper-msg {
  font-size: 18px !important;
  color: #7D7D7D;
  font-weight: normal;
}

.msg-3step-wrapper-1 img {
  width: 37px;
}

.msg-3step-image {
  height: 323px !important;
  width: 323px !important;
}

.nav-item {
  display: none !important;
}

.main-questions-wrap {
  display: none !important;
}

.main-questions-wrap-single {
  display: inline !important;
  padding-bottom: 100px;
  margin: 0 auto !important;
}

.main-questions-wrap-single ul {
  width: 700px !important; 
  margin-left: auto;
  margin-right: auto;
}

.main-questions-wrap-single ul li {
  list-style: none;
  font-size: 16px;
  padding: 20px 0px;
  border-bottom: solid 1px #EBEBEB;
  width: 650px !important; 
}

.main-questions-2 {
  display: none;
}

.main-questions-2-small {
  display: block;
  width: 660px !important;
  margin: 50px auto 0 auto !important;
}

.main-questions-2-small img {
  max-width: 220px;
  max-height: 120px;
}

/* .main-questions-2-small h2 {
  display: block;
  max-width: 600px;
  margin:0;
} */

.container-questions-2 {
  display: flex;
}

.container-questions-2 > .card:not(:last-child) {
  margin-right: 15px;
}

.msg-wrapper .row {
  margin: 0px !important;
}

.jumbotron { background:url(img/main2.jpg) center no-repeat; 
  background-size: cover; 
  max-width: 1600px; 
  height: 680px;
  padding: 0 !important;
}

.card-title a {
  font-size: 14px;
  color: hsl(0, 0%, 28%) !important;
  font-weight: bold;
}

.card-text  a {
  font-size: 14px;
  color: #484848 !important;
}

.card-body {
  padding-top: 0 !important;
}

.income-img {
  padding-top: 100px ;
}

.income-increase h1 {
  padding-top: 100px;
}

footer {
  display: flex !important;
  margin: 0px 0px 0px 70px;
  }

.yenjpn {
    display: none;
  }

  .msg-safe .col-6 {
    padding: 0px;
    width: 300px !important;
}

.msg-safes {
  display: none !important;
}

.msg-safe ul {
  padding-left: 0px;
  padding-top: 30px;
}

.msg-safes2 {
  display: inline !important;
}

.message1 {
  padding-bottom: 0px !important;
}


footer {
  border-top: #EBEBEB 1px solid;
  width: 750px;
  margin: 0 auto;
}

/* .border-1 {
  width: 850px;
  border: none;
  height: 1px !important;
  margin-top:1px;
  color: #EBEBEB; 
  background-color: #EBEBEB; 
} */

.income-increase h1 {
  font-size:40px;
}

.msg-3-image-wrapper {
  display: none;
}

}


@media screen and (max-width: 743px) {

.main_msg {
    font-size: 32px;
    text-align: left;
    padding-left: 15px;
  }

.form  {
  width: 95%;
}

.yen {
  font-size: 32px;
}
.msg-parent {
  width: 95%;
}

.msg-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* .msg {
  padding: 0 20px !important;
} */

.msg-3step-wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important; 
  max-width: 100% !important;
}

.msg-3step-wrapper .row {
  padding-left: 5px !important;
}

hr {
  text-align: left !important;
  margin-left: 15px;
  width: 60px;
}

.three-step {
  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  max-width: 100% !important;
}

.message h1 {
  text-align: left;
  padding-left: 15px;
}

.msg-3step-image {
  height: 643px !important;
  width: 643px !important;
 
}

.msg-safe {
display: none;
}

.msg-safe1 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  }

.msg-3-image-wrapper {
  display: block;
  max-width: 92%;
  margin: 0 auto;
}
  
.msg-3-image-wrapper .msg-3step-image1 {
  width: 100%;
}

.msg-3-image-wrapper img {
  padding-top: 10px;
  width: 37px;
}

.msg-3-image-wrapper .btn {
  height: 45px;
  border: solid #333333 2px;
  font-weight: bold;
  margin-top: 10px;
  padding: 0 20px;
  /* margin-left: 50px; */
}

.msg-3-image-wrapper p {
  font-size: 14px;
  color: #767676;
}

.message {
  width: 700px !important;
}

.msg-3-image-wrapper hr {
  margin-left: 0;
  margin-top: 100px;
}

.msg-3-image-wrapper h1 {
  color: #484848;
  font-weight: bold;
  margin-bottom: 70px;
}

.msg-3-image-wrapper p {
  color: #484848;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
}

.msg-safe1 ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  padding-right: 10px;
  color: #178F93;
}

.msg-safe1 ul {
  list-style: none;
  padding-left: 0;
  padding-top: 30px;
}

.msg-safe1 li {
  padding-bottom: 20px;
}

.main-questions-wrap-single ul li {
  display: none;
}

.question-wrapper ul li {
  list-style: none;
  font-size: 16px;
  padding: 20px 0px;
  border-bottom: solid 1px #EBEBEB;
  /* width: 650px !important;  */
  color: #008489;
}

.main-questions-wrap-single ul li:hover {
  text-decoration: underline;
}

.question-wrapper ul {
  padding-left: 0;
}

.card-img {
  padding-top: 0 !important;
}

.card-title-h4 {
  font-size: 14px;
  color: #484848;
  font-weight: bold;
  padding: 10px 0 0 10px;
}

.card-text-p {
  font-size: 14px !important;
  color: #484848;
  padding: 0 0 0 10px;
}

.cards {
  padding-left: 0 !important;
  box-shadow: 1px 1px 15px -10px #7D7D7D;
  height: 76px;
  margin-bottom: 0 !important;
  
}

.msg-3-image-wrapper h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 40px 0 10px 0;
}

.msg-3-image-wrapper {
  padding-bottom: 45px;
}

.main-questions-2-small {
  display: none !important;
}

.income-img {
  display: none;
}

.income-img1, .income-img1 img {
  height: 375px !important;
}

.income-img1 img {
  object-fit: cover ;
}

.income-img1 {
  position: relative;
  padding-bottom: 100px;
  margin-top:65px;
  max-width: 1300px !important;
  margin: 0 auto !important;
  
}

.income-increase1 {
  position: absolute;
  top: 70px; 
  left: 30px;
  color: white;
  /* width: 50%; */
}

.income-increase1 h1 {
  /* padding-right: 180px !important; */
  padding-bottom: 30px !important;
  text-align: left;
  font-weight: bold;
  font-size:36px;
}

.footers {
  display: none;
}


.footer {
  margin-top: 75px;
  margin-bottom: 30px !important; */
  /* height: 100px; */
}

}